//Zmienne kolorów
$color-map-fill: #96bb7c;
$color-map-hover: #ee8a3e;
$color-map-active: #184d47;

$color-font-primary: #d9e5d1;
$color-font-secondary: #ee8a3e;
$color-font-true: #17cd17;
$color-font-false: #d01a2a;

$color-background-primary: #96bb7c ;
$color-background-secondary: #fad586;
$color-background-btn: #86A459;

$color-additional: #184d47;
$color-alternative:#ed643e;

$gradient_background:linear-gradient(to bottom, #fffdfd, #fad586,#96bb7c);

//Zmienne fontów
$font-primary: 400 1rem 'Rubik', sans-serif;
$font-secondary: 1rem 'Coiny', cursive;
