.europe_map_container{
    padding-top: 100px;
    margin: auto;
    width: 70%;
    height: 70vh;
    border: 3px solid $color-background-primary;
    border-radius: 10px;
    padding: 10px;
    

    .gameTitle{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font: $font-secondary;
        font-size: 25px;
        color: #073b4c;
    }
  }
    .map_europe {
      position: relative;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
    .map_europe path{
        transition-duration: 1s;
      }

  .map_europe path:hover{
    fill: $color-map-active !important;
    transition-duration: 1s;
  }
