.rules-select {
  background-color: $color-background-secondary;
  font-family: Coiny;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  width: 400px;
  height: 100px;
  border-radius: 15px;

  text-align: center;

  color: black;
  display: flex;
  text-align: center;
}
.righ-arrow-button,
.left-arrow-button {
  background-color: transparent;
  border: 0;
  color: black;
  box-shadow: none;
  width: fit-content;
  padding: 8px;
}

.left-arrow-button::after {
  content: '🡅';
}
.righ-arrow-button::after {
  content: '🡇';
}
@media (min-width: 1856px) {
  .left-arrow-button::after {
    content: '🡄';
  }
  .righ-arrow-button::after {
    content: '🡆';
  }
}
